.main{
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;

    color: #1B1B1B;
    
}

.section-main{
    padding: 10px;
}



/* newcomponent */
.header-main{
    width: 100%;
    height: 45px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-header{
    color: #1d1d1d;
    font-weight: 500;
    font-size: 18px;
}

.banner-wrapper img{
    width: 100%;
}

.menu-section{
    width: 100%;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 15px;
    padding: 25px 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 колонки */
    gap: 20px;
    text-align: center; /* выравнивание текста и иконки */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02); /* легкая тень для эффекта */
}

.menu-item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.menu-item-wrapper img{
    width: 25px;
}

.menu-item-wrapper p{
    color: #1d1d1d;
    margin-top: 15px;
    font-size: 12px;
}