.profile {
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    color: #1B1B1B;
}

/* Хедер */
.header-main {
    width: 100%;
    height: 45px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
}
.text-header {
    color: #1d1d1d;
    font-weight: 500;
    font-size: 18px;
}

/* Контейнер профиля */
.section__profile {
    padding: 15px;
}

/* Аватар */
.profile__img-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.profile__img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #27ae60; /* зелёный акцент */
}

/* Кнопка загрузки фото */
.uploadProfile-img {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #15803d;
    cursor: pointer;
}

/* Карточка информации */
.info-card {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
    margin-bottom: 15px;
}

/* Поля */
.info-el {
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}
.info-el:last-child {
    border-bottom: none;
}
.name {
    font-weight: 600;
    font-size: 16px;
}


/* Кнопка настроек */
.settings-button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 12px;
    background-color: #fff;
    color: #15803d;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #15803d;
    cursor: pointer;
    transition: all 0.2s ease;
}
.settings-button:hover {
    background-color: #15803d;
    color: #fff;
}

/* Ссылка на админку */
.verify {
    display: block;
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
    color: #15803d;
    font-weight: 500;
}

/* Выход */
.logout {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #d9534f;
    cursor: pointer;
    font-weight: 500;
}
